body {
  background-color: var(--dark-cyan-color);
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #051733;
}
.grid {
  color: var(--gray-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
.header__container-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  box-sizing: content-box;
  border: 5px solid var(--shine-cyan-color);
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem 0 1rem 1rem;
}
.header__container-name h1 {
  display: block;
  margin: 0 0;
  font-size: 3rem;
  color: var(--shine-cyan-color);
  letter-spacing: 10px;
  text-align: center;
}
.header__container-name:hover h1 {
  cursor: pointer;
  color: #ccfffd;
}

.header__container-nav {
  width: 60rem;
}
.header__container-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.header__container-item {
  margin: 0 1rem;
}
.header__container-button {
  display: flex;
  align-items: center;
  background-color: var(--dark-cyan-color);
  width: 10rem;
  height: 4rem;
  border: 1px solid var(--shine-cyan-color);
  border-radius: 0.5rem;
  justify-content: center;
  transition: background-color 250ms;
}
.header__container-button:hover {
  background-color: rgba(0, 140, 186, 0.1);
}

.header__container-list-resp {
  display: none;
}

.header__container-button--resp {
  visibility: false;
}
.list-resp__element {
  margin: auto 10px;
}
.header__menu-btn {
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: var(--dark-cyan-color);
  width: 5rem;

  height: 4rem;
  justify-content: center;
  transition: border 250ms;
  display: flex;
  justify-content: right;
  align-items: center;
}
.header__menu-btn:active {
  background-color: rgba(29, 119, 150, 0.1);
  border: 2px solid var(--shine-cyan-color);
  border-radius: 5px;
  transform: rotate(0.5turn);
  transition-duration: 1s;
}
.header__button {
  color: var(--shine-cyan-color);
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.hamburger-element {
  position: relative;
  height: 2px;
  width: 30px;
  background-color: var(--shine-cyan-color);
}
.hamburger-element::before {
  position: absolute;
  top: -10px;
  right: 0;
  content: "";
  height: 2px;
  width: 40px;
  background-color: var(--shine-cyan-color);
}
.hamburger-element::after{
  position: absolute;
  top: 10px;
  right: 0;
  content: "";
  height: 2px;
  width: 20px;
  background-color: var(--shine-cyan-color);
}

.header__container-item-link {
  margin: 1rem;
}

.header__container-item,
.header__container-item-link {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  color: var(--black-color);
  font-size: 2rem;
  font-weight: 300;
  font-size: 1.2rem;
  transition: color 100ms;
}
.header__container-item:hover,
.header__container-item-link:hover {
  color: var(--shine-cyan-color);
  cursor: pointer;
}
.item-link__count {
  color: var(--shine-cyan-color);
  margin: 0 0.5rem 0 0;
}

.container__overview {
  display: flex;
  margin: 11.5rem 15rem 0;
  justify-content: space-evenly;
}

.overview {
  margin: 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.overview__firstline {
  color: var(--shine-cyan-color);
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  margin-bottom: 0;
}
.overview__name {
  color: #ededed;
  font-size: 6rem;
  /* font-family: "Ruda", sans-serif; */
  margin-top: 2rem;
  margin-bottom: 0;
  letter-spacing: 0.8rem;
}
.overview__in-short {
  color: var(--gray-color);
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.overview__container-fourthline {
  max-width: 67rem;
}
.overview__major {
  margin-bottom: 0;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  color: whitesmoke;
}
.sistrain-info {
  text-decoration: none;
  color: var(--shine-cyan-color);
  font-weight: 700;
  transition: color 500ms;
}
.sistrain-info:hover {
  color: #ccfffd;
}
.overview__button {
  background-color: var(--dark-cyan-color);
  width: 20rem;
  height: 5rem;
  border: 1px solid var(--shine-cyan-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
  color: var(--shine-cyan-color);
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  transition: background-color 250ms;
}
.overview__button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}
.overview__container-image {
  width: 45rem;
  height: 60rem;
  position: relative;
  border: 2px solid var(--shine-cyan-color);
  border-radius: 1rem;
  /* background-color:rgba(0, 140, 186, 0.5); */
}
img {
  position: absolute;
  top: -1rem;
  right: 1rem;
  height: 100%;
  border-radius: 1rem;
  filter: grayscale(75%);
  transition: top 0.5s, right 0.5s, filter 0.5s;
  box-shadow: 1rem 0.5rem 1rem rgba(0, 140, 186, 0.5);
}
img:hover {
  cursor: pointer;
  top: -2rem;
  right: 2rem;
  filter: none;
}
@media (max-width: 1000px) {
  .container__overview {
    flex-direction: column;
    margin: 10rem 5rem;
  }
  .grid {
    width: 90vw;
  }

  .header__container-nav {
    width: 250px;
  }
  .header__container-list {
    display: none;
  }
  .header__container-list-resp {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: right;
  }

  
  .overview__name {
    font-size: 5rem;
  }
  .overview__container-image {
    display: none;
  }
}
